$fontfamilyBold: 'Montserrat-Bold';
$fontfamilyLight: 'Roboto-Light';
$fontfamilyRegular: 'Montserrat-Regular';
$fontcolor: rgba(255, 255, 255, 1);
$buttoncolor: rgba(255, 78, 80, 1);
$headercolor: rgba(68, 68, 68, 1);